button:hover {
    cursor: pointer;
}

table {
    color: inherit; 
}

.btn {
    background-color: transparent;
}

.material-icons.light {
    color: white;
}

.editing-row {
    background-color: #b59abe;
}