button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

table, th, td {
    border-collapse: collapse;
    border: 1pt black solid;
    text-align: center;
    width: auto;
}

.table-button {
    color: gray;
    border-left: none !important;
}